{% extends 'tpl/template.html' %}
{% load static %}
{% block main %}
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">中文名</label>
                        <div class="layui-input-block">
                            <input type="text" name="brand_name" placeholder="请输入" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">英文名</label>
                        <div class="layui-input-block">
                            <input type="text" name="brand_letter" placeholder="请输入" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">注册时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="reg_range" id="reg_range" placeholder="选择时间范围" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">是否显示</label>
                        <div class="layui-input-block" style="width: 90px">
                            <select name="is_show">
                                <option value="">不限</option>
                                <option value=1>显示</option>
                                <option value=0>不显示</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">删除状态</label>
                        <div class="layui-input-block" style="width: 90px">
                            <select name="is_delete">
                                <option value="">不限</option>
                                <option value=1>已删除</option>
                                <option value=0>未删除</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">审核状态</label>
                        <div class="layui-input-block" style="width: 90px">
                            <select name="status">
                                <option value="">不限</option>
                                <option value=1>已审核</option>
                                <option value=0>未审核</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-useradmin" lay-submit
                                lay-filter="user-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="layui-card-body">
                <!--<div style="padding-bottom: 10px;">
                    <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
                </div>-->

                <table id="user-manager" lay-filter="user-manager"></table>

                <script type="text/html" id="toolbar">
                    <a class="layui-btn layui-btn-xs" lay-event="view"><i
                            class="layui-icon layui-icon-edit"></i>查看</a>

                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i
                            class="layui-icon layui-icon-delete"></i>删除</a>
                </script>

                <script type="text/html" id="topbar">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-event="add">添加</button>
                    <button class="layui-btn layui-btn-danger layuiadmin-btn-useradmin" lay-event="delete">删除</button>
                </script>


                <script type="text/html" id="showStyle">
                    {% verbatim %}
                    {{# if(d.is_show === 1){ }}
                    <span style="color:#5FB878">是</span>
                    {{# }else{ }}
                    <span style="color:#FF5722">否</span>
                    {{# } }}
                    {% endverbatim %}
                </script>

                <script type="text/html" id="deleteStyle">
                    {% verbatim %}
                    {{# if(d.is_delete === 0){ }}
                    <span style="color:#5FB878">否</span>
                    {{# }else{ }}
                    <span style="color:#FF5722">是</span>
                    {{# } }}
                    {% endverbatim %}
                </script>

                <script type="text/html" id="statusStyle">
                    {% verbatim %}
                    {{# if(d.status === 1){ }}
                    <span style="color:#FF5722">已审核</span>
                    {{# }else{ }}
                    <span style="color:#5FB878">未审核</span>
                    {{# } }}
                    {% endverbatim %}
                </script>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script>
        layui.config({
            base: '{% static 'layuiadmin/' %}' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table', 'laydate'], function () {
            var $ = layui.$
                , form = layui.form
                , laydate = layui.laydate
                , table = layui.table;

            laydate.render({
                elem: '#reg_range'
                , range: true
            });
            table.render({
                elem: "#user-manager",
                url: '/goods/brand/list',
                cols: [[
                    {type: "checkbox", fixed: "left"},
                    {field: 'brand_id', title: "序号", min_width: 90, width: 90, align: "center", sort: true},
                    {field: "brand_name", title: "名称", sort: true},
                    {field: "brand_letter", title: "英文"},
                    {field: "brand_first_char", title: "首字母", width: 100, align: "center", sort: true},
                    {field: "brand_logo", title: "LOGO"},
                    {field: "brand_desc", title: "描述",},
                    {field: "sort_order", title: "排序", width: 90, align: "center", sort: true},
                    {
                        field: "is_show",
                        title: "是否显示",
                        width: 120,
                        align: "center",
                        templet: '#showStyle',
                        sort: true,
                    },
                    {field: "is_delete", title: "删除状态", width: 90, align: "center", templet: '#deleteStyle'},
                    {field: "status", title: "审核状态", width: 90, align: "center", templet: '#statusStyle'},
                    {field: "create_time", title: "添加时间", sort: true},
                    {
                        title: "操作", width: 150, align: "center", fixed: "right", toolbar: "#toolbar"
                    }]],
                page: !0,
                limit: 10,
                toolbar: '#topbar',
                defaultToolbar: ['filter', 'exports', 'print'],
                //height: "full-220",
                text: {
                    none: '暂无数据'
                }
            });


            //监听搜索
            form.on('submit(user-search)', function (data) {
                let field = data.field;
                let brand_name = field.brand_name;
                let brand_letter = field.brand_letter;
                let is_show = field.is_show;
                let is_delete = field.is_delete;
                let status = field.status;
                let reg_range = field.reg_range;
                let create_time_before = ''
                let create_time_after = ''
                if (reg_range) {
                    create_time_before = reg_range.split(' - ')[1]
                    create_time_after = reg_range.split(' - ')[0]
                }
                //执行重载
                table.reload('user-manager', {
                    page: {curr: 1},
                    where: {brand_name, brand_letter, is_show, is_delete, status, create_time_after, create_time_before}
                });
            });

            function deleteBrand(ids){
                $.ajax({
                    url: '/goods/brand/delete',
                    data: {ids: JSON.stringify(ids)},
                    method: 'post',
                    success: function (res) {
                       layer.msg(res.msg)
                        table.reload('user-manager')
                    }
                })
            }

            //事件
            table.on('toolbar(user-manager)', function (obj) {
                console.log(obj.event)
                if (obj.event === 'add') {
                    layer.open({
                        type: 2
                        , title: '添加品牌'
                        , content: '{% static 'module/shop/brand/brandAddForm.html' %}'
                        , maxmin: true
                        , area: ['100%', '100%']
                        , btn: ['确定', '取消']
                        , yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index]
                                , submitID = 'brand-add'
                                , submit = layero.find('iframe').contents().find('#' + submitID);

                            //监听提交
                            iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                                var field = data.field;
                                $.ajax({
                                    url: '/goods/brand/add',
                                    data: field,
                                    method: 'post',
                                    success: function (res) {
                                        table.reload('user-manager')
                                        layui.layer.msg('创建成功')
                                    },
                                    error: function (res) {
                                        layui.layer.msg(res.responseText)
                                    }
                                });
                                layer.close(index);
                            });

                            submit.trigger('click');
                        }
                    });
                }else if (obj.event === 'delete') {
                    let checkStatus = table.checkStatus('user-manager');
                    let data = checkStatus.data;
                    let ids = []
                    $(data).each(function (index, item) {
                        ids.push(item.brand_id)
                    })
                    if (data.length <= 0){
                        layer.msg('未选择要删除的品牌')
                    }else {
                        deleteBrand(ids)
                    }
                }
            })

            table.on("tool(user-manager)", function (obj) {
                if ("view" === obj.event) {
                    layui.data('brand', {'key': 'brand', 'value': obj.data})
                    layer.open({
                        type: 2,
                        title: "品牌信息",
                        content: "{% static 'module/shop/brand/brandViewPage.html' %}",
                        maxmin: !0,
                        area: ["100%", "100%"],
                        btn: ['保存', "关闭"],
                        yes: function (e, t) {
                            var l = window["layui-layer-iframe" + e], r = "brand-update",
                                n = t.find("iframe").contents().find("#" + r);
                            l.layui.form.on("submit(" + r + ")", function (t) {
                                console.log(t.field)
                                t.field;
                                $.ajax({
                                    url: '/goods/brand/update/' + obj.data.brand_id,
                                    data: t.field,
                                    method: 'put',
                                    success: function (res) {
                                        table.reload('user-manager')
                                        layui.layer.msg('修改成功')
                                    },
                                    error: function (res) {
                                        layui.layer.msg(res.responseText)
                                    }
                                });
                                table.reload("user-manager"), layer.close(e)
                            }), n.trigger("click")
                        },
                        success: function (e, t) {
                        }
                    })
                }else if ("delete" === obj.event){
                    deleteBrand([obj.data.brand_id])
                }
            });
        });
    </script>
{% endblock %}
